@import url(https://fonts.googleapis.com/css?family=Mr+Dafoe);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:900);



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./images/page-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    position: relative;
    background-image: -webkit-linear-gradient(#000066 20%, #0000cc 46%, #ffffff 50%, #32120E 54%, #FFC488 58%, #582C11 90%, #EC9B4E 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 3px #f5f5f5;
    font-size: 100px;
    font-family: 'Titillium Web', sans-serif;
    font-style: italic;
    margin: 0;
    line-height: 1;
    padding-bottom: 0.15em;
}

.cat-gif {
    position: absolute;
    left: 15%;
    width: 10%;
}


canvas {
    border: 3px solid white;
}

button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #000066;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: 1px solid #000033;
    transition: all 0.4s ease 0s;
    font-weight: bold;
}

button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
    border: 1px solid #e6e6ff;
}

