body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('./images/page-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-size: 80px;
    font: 'sans-serif';
    color: white;
    padding: 0;
    padding-top: 0;
    margin-bottom: 0.2;
    border: 0;
}

canvas {
    border: 3px solid white;
}

button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #60a3bc;
    padding: 20px;
    border-radius: 50px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

button:hover {
    text-shadow: 0px 0px 6px rgba(255, 255, 255, 1);
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    transition: all 0.4s ease 0s;
}